@CHARSET "UTF-8";
table.speckDetailTable{
	width:900px;
	border-spacing:0;
	border: 1px solid;
	border-collapse:collapse;
}

table.speckDetailTable th{
	text-align:left;
	border-spacing:0;
	border: 1px solid;
	border-collapse:collapse;
	background-color:#C0C0C0;
}

table.speckDetailTable tr{
	text-align:left;
	border-spacing:0;
	border: 1px solid;
	border-collapse:collapse;
}

table.speckDetailTable td{
	text-align:left;
	border-spacing:0;
	border: 1px solid;
	border-collapse:collapse;
}

.tallHeight{
	height:100px;
}

.right{
	text-align: right;
}
#inputMini{
	width:30px;
}
.inputMiddle{
	width:60px;
}
.inputSkill input{
	width:100px;
}
.appeal{
	height:100px;
	width:890px;
}
.inputExperience input{
	width:120px;
}
#inputSpan{
	height:40px;
	width:120px;
}
#inputProject{
	height:90px;
	width:160px;
}
#inputResponsible{
	height:90px;
	width:70px;
}
#inputWorkDetail{
	height:90px;
	width:720px;
}
#inputNumber{
	height:180px;
	width:20px;
}
#check{
	width:15px;
}
#btnMini{
	width:65px;
}
#inputOther{
	height:40px;
	width:180px;
}